<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Template</title>
</head>
<body>

    <h1>Hola!</h1>
    <p th:text="${'Nombre    : ' + name}"></p>
    <p th:text="${'Apellido     :' + lastName}"></p>
    <p th:text="${'Comentarios : ' + comments}"></p>

<h2>He recibido tus comentarios!</h2>

<h3><b>Gracias por contactarme.</b></h3>

<p>Saludos Cordiales</p>
<p><b>Esteban Perea</b></p>
<p><b>Argentina Programa - #YoProgramo</b></p>
<p><b>Este es un mail generado automáticamente desde mi portfolio.</b></p>


</body>
</html>
